<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="perfil">
      <img src="..//..//..//assets/icons8_Male_User_100px.png" alt="">
      <p class="distinto">Enoc Riuz</p>
      <p id="Usuario">Farmacia Guadalajara</p>
      <p id="Usuario">Farmacia Guadalajara</p>
    </div>
    <ul class="sidebarMenuInner">
      <li>WebSite<span>UbiFarma</span></li>
      <li><a href="#"><span>Dashboard</span></a></li>
      <li><a href="#" (click)="onSelect(medicine)"><span>Medicamentos</span></a></li>
      <li><a href="#"><span>Graficas</span></a></li>
      <li><a href="#"><span>Perfil</span></a></li>
    </ul>
  </div>