<div class="login">
  <div class="titulo">
    <h1>Bienvenido a UbiFarma</h1>
  </div>
  <div class="contenedor">
    <div class="izquierda"></div>
    <div class="derecha">
      <div class="datos">
        <form>
          <p>Usuario:</p>
          <input type="text" name="" placeholder="Farmacia">
          <p>Contraseña:</p>
          <input type="password" name="" placeholder="••••••••••••••">
          <input type="submit" name="" value="Ingresar">
          <a href="#">¿Olvidaste tu Contraseña?</a>
        </form>
      </div>
    </div>
  </div>
</div>