<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{medicine.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        Medicina
      </button>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">Editar Medicamento</a>
        <a href="" class="dropdown-item">Eliminar Medicamento</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{medicine.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingrediente Activo
  </div>
</div>