<div class="card mt-2">
  <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="localService.selectedLocal.$key">
          <div class="row">
            <div class="col-md-12 form-group">
              <h6 class="text-center">Ingrese los datos de la Sucursal</h6>
              <br>
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-3 text-right">
                          <label for="Nombre">Nombre:</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="localService.selectedLocal.nombre" required>
                        </div>
                  </div>
              </div>
              <br>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3 text-right">
                    <label for="Direccion">Dirección:</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="localService.selectedLocal.direccion" required>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3 text-right">
                    <label for="Ubicación">Ubicación:</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="ubicacion" #ubicacion="ngModel" [(ngModel)]="localService.selectedLocal.ubicacion" required>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                    <button class="btn btn-success text-white btn-block" type="submit" [disabled]="localService.selectedLocal.nombre == null ||localService.selectedLocal.nombre == '' ||  localService.selectedLocal.ubicacion == null || localService.selectedLocal.ubicacion == '' || localService.selectedLocal.direccion == null || localService.selectedLocal.direccion == ''"><i class="fas fa-plus-circle mr-1"></i>{{localService.selectedLocal.$key ?  'Guardar' : 'Agregar'}}</button>
                  </div>
                  <div class="col-md-5">
                    <button class="btn btn-danger text-white btn-block" type="reset" (click)="resetForm(f)"><i class="fas fa-sync-alt mr-1"></i>Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>
</div>
